*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

@font-face {
  font-family: "font-p";
  src: url("/static/fonts/font-year.ttf") format("truetype");
}
@font-face {
  font-family: "font-title";
  src:        url("/static/fonts/font-year-bold.ttf") format("truetype");
}

@font-face {
  font-family: "font1";
  src: 
       url("/static/fonts/TheYearofTheCamel-Regular.otf") format("opentype");
}
body.dark {
  --bg-color: #274f44!important;
  --text-color: #dde3d7 !important;
  --nav-bg: #274f44 !important;
  --card-bg:#1d1f24;
  --section-bg:#1d1f24;
  --card-border:#556842;
  --hover-color:#766da7;
  --footer-color:#15191e
  font-family: font1,sans-serif;
}

body {
  --bg-color: #dde3d7;
  --text-color: #15191e !important;
  --nav-bg: #dde3d7;
  --card-bg:#ffffff;
  --card-border:#7A9663;
  --hover-color:#766da7;
  --section-bg:#274f44;
 --footer-color:#274f44;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: font1,sans-serif;
}
.site-footer{
 
  background:var(--footer-color);
  width: 100%;
  color: var(--text-color);
  padding: 1.25rem 1rem;
  direction: rtl;
  text-align: center;
  align-items: center;
  z-index: 1000;
  margin-top: auto;
}
.footer-links{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  text-align: right;
  direction: rtl;
  justify-content: center;
  padding: 3rem 0
}
.footer-links a{
  text-decoration: none;
  color: #dde3d7;
  padding: 0 10rem;
}
.footer-links a:hover{
  color: var(--hover-color);
}
.footer-copy{
  font-size: 0.9rem;
  opacity: 0.9;
}

h1,h2,h3{
  font-family: font-title;
}
p,span,h4,h5,a{
  font-family: font-p;
}
.bg-page{
   background-color: var(--bg-color);
   color: var(--text-color);
}
.title{
  text-align: center;
  background-color: var(--text-color);
  color: var(--nav-bg);
  padding:0.5rem 0;
}
.wrapper {
    background-color: var(--bg-color);
    height: 44vw;

}
body.dark .wrapper{
  background-image: url('/static/images/skyscraper-dark.jpg');
  background-color: var(--bg-color);
}

.center-content{

  padding: 0.5rem 2rem;
}

li{
  list-style: none;
}
li a{
  text-decoration: none !important;
  color: var(--text-color)!important;
  font-size: 1.1rem ;
}
a:hover{
  color:purple;
}
.logo {
    font-size: 2.3rem;
    font-weight: 500;
    margin-right: 2rem;
    gap: 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem 7.5rem;
    color: var(--text-color);
    background-color: var(--nav-bg);

}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 35px;
    padding: 1.2rem 1rem;
    margin-bottom: 0;
    gap: 2.7rem;
    font-size: 12px;
}

.center-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
}
nav a:hover{
    color: var(--hover-color);
    text-decoration: none;
}

.icons-nav{
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}
.material-symbols-outlined{
    padding: 5px 5px;
}

.active-icon{
    background-color: var(--nav-bg);
    color: var(--text-color);
    border-radius:50%;
}

.dropdown-toggle{
  color: black;
  font-style: 1.5rem;
  cursor: pointer;
  display: none;
  
}
.action-mode{
  background-color: purple;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.dropdown-menu{
  display: none;
  position: absolute;
  background: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 10px;
  
}
.dropdown-menu a{
  color: var(--text-color);
}

.dropdown-menu .open{
  height: 240px;
}
.dropdown-menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arabic-text {
  direction: rtl;
  text-align: right;
}

.english-text {
  direction: ltr;
  text-align: left;
}
.header-home {
    display: flex;
    align-items: center;
    padding: 0rem 7.5rem;
    height: 44vw;

}
.header-home h1 {
    font-weight: 500;
    font-size: 7.5rem;
    font-style:normal;
    line-height: 1.2;
    color: var(--text-color);
}
.header-home p{
    font-size: 0.7rem;
    font-weight: 500;
}
.top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    gap: 1.5rem;
}
.videoBanner {
  height: 100vh;
  max-height: 1060px;
  width: 100%;
  position: relative;
  margin-bottom: 5rem;
}
.videoBanner .contentBanner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgb(14 23 23 / 55%), rgb(221 227 215 / 0%));
  height: 85%;
  display: flex;
  align-items: end;
  padding-bottom: 150px;
}

.videoBanner .contentBanner .mainTitle {
  font-size:75px;
  color:var(--text-color);
  padding-bottom: 30px;
  align-items: center;
  padding-right: 60px;
}
.contentBanner p{
  font-size: 32px;
  color: var(--text-color);
  padding-right: 60px;
  
}
.videoBanner .BGVideo {
  height: 100%;
}
.videoBanner .BGVideo video {
  width: 100%;
  height: 90%;
  object-fit:cover;

}

.content{
 
  padding:0.2rem 4rem 0.2rem 4rem;

}
.kings{
  border-radius: 5px;
  height: 250px;
  width: 650px;

}

.card-kings h5{
  font-size: 32px;
  font-weight: 600;
} 
.card-kings p{
  font-size: 24px;
  width: 100%;
  text-align: justify;
} 

.fileds{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap:5rem;
}
.fileds a {
  text-decoration: none !important;
  color: var(--text-color)!important;
  font-size: 1rem !important;

}

.content-filed h2{
  font-size: 1.5rem ;
}
.fileds .filed-card{
  position: relative;
  width: 300px;
  height:290px;
  background: var(--card-bg);
  border-radius: 40px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  overflow: hidden;
}
.fileds .filed-card:hover{
   height: 400px;
}
.fileds .filed-card .img-bx{
  position: relative;
  width: 100%;
  height: 230px;
  background:var(--img) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5;
  filter:blur(0px);
}
.fileds .filed-card:hover .img-bx{
  background-size: 110%;
   filter:blur(25px);

}
.fileds .filed-card .img-bx::before{
  content: "";
  position: absolute;
  bottom: -50px;
  width: 100%;
  height: 80px;
  border-radius: 40px;
  background: var(--card-bg);

}
.fileds .filed-card .img-bx::after{
  content: "";
  position: absolute;
  right: 0;
  bottom: 30px;
  width: 80px;
  height: 80px;
  background: transparent;
  border-radius: 50px;
  box-shadow: 75px 70px 0 40px var(--card-bg);
}
.fileds .filed-card .content-filed{
  position: relative;
  top: -10px;
  z-index: 10;
  padding: 0 30px;
  transition: 0.5s;
}

.fileds .filed-card:hover .content-filed{
  top: -50px;

}
.fileds .filed-card .content-filed h2{
  font-size: 1.23rem;
  color: var(--text-color);
}

.fileds .filed-card .content-filed p{
   position: relative;
   transition: 0.5s;
   color:  var(--text-color);
   opacity: 0;
}
.fileds .filed-card:hover {
  box-shadow: 0 20px 40px rgba(118,109,167,0.35);
}
.fileds .filed-card:hover .content-filed p{
   opacity: 1;
}
.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.supporters{
align-items: center;
padding: 0 3rem;
text-align: center;
margin: 5rem 0;
}
.supporters img{
  width: 100%;
  height:90vh;
  border-radius: 15px;
  margin-top: 2rem;
}
/*kings page*/
.header-gallery {
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start; 
  padding-top: 30px;
}

.header-gallery h1 {
  color: var(--text-color);
  font-size: 2.5rem;
  margin-bottom: 30px; 
  text-align: center;
}
.gallery{
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-box{
  width: 100px;
  height: 380px;
  margin: 12px;
  border-radius: 50px;
  background: url('/static/images/makkah1887.png');
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s;
}
.img-box:nth-child(7){
  background: url('/static/images/makkah2015.png');
  background-size: cover;
  background-position: center;
}
.img-box:nth-child(6){
  background: url('/static/images/makkah2005.png');
  background-size: cover;
  background-position: center;

}
.img-box:nth-child(5){
  background: url('/static/images/makkah1988.png');
  background-size: cover;
  background-position: center;

}
.img-box:nth-child(4){
  background: url('/static/images/makkah1979.png');
  background-size: cover;
  background-position: center;

}
.img-box:nth-child(3){
  background: url('/static/images/makkah1937.jpg');
  background-size: cover;
  background-position: center;

}
.img-box:nth-child(2){
  background: url('/static/images/makkah1910.png');
  background-size: cover;
  background-position: center;

}
.img-box:nth-child(8){
  background: url('/static/images/makkah2025.png');
  background-size: cover;
  background-position: center;
}
.img-box h3{
  color: var(--text-color);
  position: absolute;
  bottom: 0;
  left: 33px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;

}
.img-box:hover{
  width: 300px;
  cursor: pointer;
}

.img-box:hover h3{
  opacity: 1;
  bottom:24px;
}

.separative{
  border-top: 1px solid #d2d5de;
  position: absolute;
 
}
.timeline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 100px ;

}

.time-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:3rem;
  padding: 2rem 1.5rem;
  width: 80%;
  animation: movedown 1s linear forwards;
  opacity: 0;

}

@keyframes movedown{
  0%{
    opacity: 1;
    transform: translateY(-30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
.time-container:nth-child(1){
  animation-delay: 0s;
}
.time-container:nth-child(2){
  animation-delay: 1s;
}
.time-container:nth-child(3){
  animation-delay: 2s;
}
.time-container:nth-child(4){
  animation-delay: 3s;
}
.time-container:nth-child(5){
  animation-delay: 4s;
}
.time-container:nth-child(6){
  animation-delay: 5s;
}
.time-container:nth-child(7){
  animation-delay: 6s;
}

.text-timeline{
  display: grid;
  grid-template-columns: 150px 400px;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  background-color: #dde3d7;
  color: var(--nav-bg);
  position: relative;
  border-radius: 25px;
  border:0.2rem solid #1d1f24 ;
  font-size: 15px;
}

.text-timeline h3{
  font-weight: 600;
}

.time-container img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border:0.2rem solid #1d1f24 ;

}
.timeline::after{
  content: '';
  width: 100px;
  height: 100%;
  animation: moveline 6s linear forwards;
  animation-timeline: view();
}

.bg-timeline{
      background:linear-gradient(
  to bottom,
  #274f44,
  #4a5e5a,
  #73928b,
  #9cc6bc,
  #dde3d7
);

}

@keyframes moveline{
  0%{
    height: 0;
  }
  50%{
    height: 50%;
  }
  100%{
    height: 100%;
  }
}

.count{
  gap: 50px;
  margin: 150px;
  
}

.count-box{
  width: 150px;
  height: 200px;
  margin: 12px;
  border-radius: 70px;
  border: 1px solid #1e2a0b;
  position: relative;
}



.health-cards{
  background-color: var(--bg-color);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.health-item{
  background-color: hsl(249, 25%, 54%);
  min-height: 28rem;
  max-width: 20rem;
  padding: 2.5rem;
  position: relative;
}
.second{
  background-color: hsl(90, 18%, 87%)
;
}
.third{
  background-color: hsl(164, 34%, 23%) ;
}
.second button{
  color: hsl(184, 100%, 22%);
}
.third button{
  color: hsl(179, 100%, 13%);
}
.health-item .images{
  margin-bottom: 1.5rem;
  width: 60px;
  left: 60px;
}
.health-item h1{
  color: var(--text-color);
  font-size: 2.3rem;
}
.health-item p{
  color: var(--text-color);
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}
.health-item button{
  position: absolute;
  background: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
  text-align: 12px 18px;
  bottom: 0;
  margin-bottom: 2rem;
  border-radius: 30px;
  color: hsl(31, 77%, 52%);
  padding: 12px 18px;
  cursor: pointer;
}

.imgs-health{
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 130vh;
  padding: 10px 20px;
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.imgs-health .row{
  padding: 15px;
  margin:.7rem 0;
}
.imgs-health .col img{

  border-radius: 10px;
}


.org-cards{
display: flex;
flex-direction: column;
margin: 2rem 0;

}
.bg-card-org{
position: relative;
width: 100%;
height: 100vh;
background:linear-gradient(to bottom,
 var(--bg-color) 0%,
 var(--bg-color) 30%,
 var(--text-color) 30%,
 var(--text-color) 60%,
 var(--bg-color) 60%,
 var(--bg-color) 100%
 );

}
.org-card{
display: flex;
flex-direction: row;
justify-content: center;

}
.org-card img{
  position: absolute;
  border-radius: 25px;
  top: 4rem;
  height: 60%;
  z-index: 1;
}
.org-img{
  width: 40%;
  left: 5rem;
}
.org-img-right{
  width: 20%;
  right: 5rem;
}

.paragraph-box{
  position: relative;
  width: 390px;
  height: 100px;
  margin: 12px;
  padding: 1.5rem 1.5rem;
  gap: 15rem;
  border-radius: 25px;
  background: var(--nav-bg);
  background-size: cover;
  transition: height 0.5s;
}

.paragraph-box h3{
  color: var(--text-color);
  position: absolute;
  transition: bottom 0.5s, opacity 0.5s;
}
.paragraph-box p{
  color: var(--text-color);
  position: absolute;
  padding:0 1.5rem;
  padding-top: 3rem;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;

}

.paragraph-box:hover{
  height: 280px;
  cursor: pointer;
}

.paragraph-box:hover p{
  opacity: 1;
  
}

.card-paragraph{
  position: relative;
  width: 35%;
  height: 80vh;
  background-color: #958ebd;
  border-radius: 25px;
  left: 7rem;
  padding: 5rem 0;
  z-index: 0;

}
.card-paragraph h1{
  position: absolute;
    font-size: 54px;
    padding-right: 3.5rem;
    
   
}
.card-paragraph p{
   position: absolute;
    padding:7rem 3rem 0 5rem;
    text-align: justify; 
}
.sec{

  height: 85vh;
  width: 100%;
  align-content: center;
  align-items: center;
 
}
.sec-container{
  display: flex;
  flex-direction: column;
  gap:0.5;
}
.title-stat{
  font-size: 24px;
}
.sec-col{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 5rem;
}
.sec-col .statis{
  padding: 2rem 5rem;
}
.sec-cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
}
.sec-img img{
  width: 300px;
  height: 35vh;
  border-radius: 15px;

}
.sec-contant{
  width: 200px;
  height: 35vh;
  position: relative;
  background-color: var(--text-color);
  color: var(--nav-bg);
  border-radius: 15px;
  text-align: justify;
}
.sec-contant h3{
  padding: 0 1.5rem;
}
.sec-contant p{
  position: absolute;
  bottom:0;
  padding: 0 1.5rem;
}


.statistics{
  border-radius: 10px;
  background-color: var(--text-color);
  color: var(--nav-bg);
  width: 300px;
  height: 100px;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}

.statis{
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 40px 20px;
}


/*technology*/

.technology{
  background-color: var(--text-color);
  padding: 2rem 10rem;
  border-radius: 20px;
  height: 60vh;
  text-align: center;
  align-items: center;
  align-content: center;
  color: #1e2a0b;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 10rem 0 0 0;
}
.tech-banner{
  height: 90vh;
  max-height: 1060px;
  width: 100%;
  position: relative;
  align-content: center;
  padding: 0rem 9rem;
}
.techVideo video{
    width: 100%;
  height: 80%;
  object-fit:cover;
  border-radius: 20px;
}

.technology p{
  padding-top: 20px;
  font-size: 24px;
  text-align: justify;
  direction: rtl;
}
.container-tech{
   display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:0;
  background:linear-gradient(to bottom,
 var(--bg-color) 0%,
 var(--bg-color) 40%,
  #c4c0e0 40%,
 #c4c0e0 60%,
 var(--bg-color) 60%,
 var(--bg-color) 100%
 );
 height: 70vw;
}

.tech-row{
   display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 0.5rem 0 .5rem;
  gap: 1.5rem;
}

.card-tech{
  position: relative;
  width: 290px;
  background: linear-gradient(to bottom, #766da7);
  border-radius: 1rem 1rem 11rem 11rem;
  padding: 2.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 8px 32px hsla(268, 55%, 20%, 0.15);
 
}

.card-border{
  width: 124px;
  height: 124px;
  background-color:#bbb6d8 ;
  border-radius: 50%;
  margin: 0 auto 1rem;
  display: grid;
  place-items: center;

}
.card-prefil{
  width: 104px;
  height: 104px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.card-name,.card-prof{
  color: var(--text-color);
}

.card-name{
  font-size: 12px;
  font-weight: 600;
  margin-bottom: .25rem;
}

.card-prof{
  font-size: 10px;
  font-weight: 500;
}
.info-card{
  position: absolute;
  top: -1px;
  left:0;
  width: 100%;
  background-color: white;
  padding: 2.5rem 1.5rem 3.3rem;
  border-radius: 1rem 1rem 11rem 11rem;
  clip-path: circle(16px at 245px 45px);
  transition: clip-path .4s ease-in-out;
}
.info-icon{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color:#766da7;
  display: inline-flex;
  padding: .25rem;
  cursor: pointer;
  transition: opacity .3s;
}
.info-border{
  width: 64px;
  height: 64px;
  background-color:#bbb6d8 ;
  border-radius: 50%;
  margin: 0 auto 1rem;
  display: grid;
  place-items: center;
  transform: translateX(-3rem);
  transition: transform .8s;
}

.info-prefil{
  width: 52px;
  height: 52px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.info-data{
  display: grid;
  row-gap: .25rem;
  margin-bottom: 1.5rem;
  transform: translateX(-4rem);
  transition: transform 1s;
}

.info-data .card-name{
  font-size: 24px;
  color: var(--text-color);
}
.info-data .card-prof{
  font-size: smaller;
}
.link-app{
  display: flex;
  justify-content: center;
  column-gap: .11rem;
  transform: translateX(-4rem);
  transition: transform 1.2s;
}
.info-link-app{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: transform .3s;
}
.info-link-icon{
  display: inline-flex;
  background: linear-gradient(to bottom, #766da7);
  padding: .25rem;
  border-radius: 50%;
  color: white;
  font-size: 1rem;

}
.info-link-app:hover{
  transform: translate(-.25rem);
}

.info-card:hover{
  clip-path: circle(75%);
}
.info:hover .info-icon{
  opacity: 0;
}
.info-card:hover .info-border,
.info-card:hover .info-data,
.info-card:hover .info-link-app{
  transform: translateX(0);
}

/*servics*/
.carousel-item img{
  height: 70vh;
  object-fit: cover;
  border-radius: 25px;
}
.carousel-inner{
  padding: 0 7rem;
}

