{% extends 'main/base.html' %}
{% load static %}
{% block title %}services{% endblock %}

{% block style%}
<style>
    .wrapper {
        background-image: none;

        height: 110vh;
    }

    body.dark .wrapper {
        background-image: none;

        height: 110vh;
    }

    .info-card {
        border-radius: 20px;
        border: 1px solid var(--text-color);
        padding: 2.5rem 1.5rem 3rem;


    }

    .card-tech {
        border-radius: 20px;
        background: var(--);
        
    }

    .card-border {
        width: 124px;
        height: 124px;
        border-radius: 50%;
        margin: 0 auto 1rem;
        display: grid;
        place-items: center;

    }

    .container-tech {
        background: none;
    }

    .technology {
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        padding: 1rem 3rem 1rem 9rem;
        margin: 2rem 0;
        gap: 1rem;
    }
    .org-img{
        box-shadow: none;
    }
</style>
{% endblock%}

{% block content %}
<main class="bg-page">
    <h1 class="title">الخدمات المقدمة للحجاج</h1>
    <section class="technology">
        <div class="arabic-text">
            <h1>السقايـة والرفـادة</h1>
            <p> 90 منظومة غير الربحية المشـاركة في موســـم الحـــج والعمرة لعام 1445
                هــــ. وهي المنظمات
                التي حصلت على موافقة لجنة السقاية والرفادة وذلك لتقديم خدمات الســـقيا والرفادة لضيـــوف الرحمن</p>
        </div>
        <img src="{%static '/images/sgya.png'%}" alt="" class="org-img" style="border-radius: 25px;">
    </section>
    <div class="container-tech">

        <div class="tech-row">
            <div class="card-tech">
                <div class="card-border">
                    <div class="card-prefil">
                        <img src="{%static 'images/water-bottle.png'%}" alt="" class="card-img">
                    </div>
                </div>
                <h3 class="card-name">السقاية والرفادة</h3>
                <span class="card-prof">توزيع ماء زمزم</span>


                <div class="info-card">
                    <div class="info-icon"><span class="material-symbols-outlined">info</span></div>
                    <div class="info-prefil">
                        <img src="{%static 'images/water-bottle.png'%}" alt="" class="card-img">
                    </div>
                    <div class="info-data">
                        <h3 class="card-name">السقاية والرفادة</h3>
                        <span class="card-prof">توزيع ماء زمزم في المشاعر المقدسة<br />توفير الوجبات الغذائية في منى
                            وعرفة ومزدلفة</span>
                    </div>
                </div>
            </div>
            <div class="card-tech">
                <div class="card-border">
                    <div class="card-prefil">
                        <img src="{%static 'images/bus.png'%}" alt="" class="card-img">
                    </div>
                </div>
                <h3 class="card-name">النقل والمواصلات</h3>
                <span class="card-prof">توفير منظومة نقل متطورة</span>


                <div class="info-card">
                    <div class="info-icon"><span class="material-symbols-outlined">info</span></div>
                    <div class="info-border">
                        <div class="info-prefil">
                            <img src="{%static 'images/bus.png'%}" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="info-data">
                        <h3 class="card-name">النقل والمواصلات</h3>
                        <span class="card-prof">قطار المشاعر المقدسة <br>الحافلات المخصصة للحج</span>
                    </div>
                </div>
            </div>
            <div class="card-tech">
                <div class="card-border">
                    <div class="card-prefil">
                        <img src="{%static 'images/guidance.png'%}" alt="" class="card-img">
                    </div>
                </div>
                <h3 class="card-name">خدمات الترجمة والإرشاد</h3>
                <span class="card-prof">خدمة جميع الجنسيات</span>


                <div class="info-card">
                    <div class="info-icon"><span class="material-symbols-outlined">info</span></div>
                    <div class="info-border">
                        <div class="info-prefil">
                            <img src="{%static 'images/guidance.png'%}" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="info-data">
                        <h3 class="card-name">خدمات الترجمة والإرشاد</h3>
                        <span class="card-prof">دليل الحج الرقمي الذي يوفر إرشادات مرئية وصوتية بعدة لغات<br>مترجمون
                            ميدانيون يتواجدون في الحرم</span>
                    </div>
                </div>


            </div>
        </div>
        <div class="tech-row">
            <div class="card-tech">
                <div class="card-border">
                    <div class="card-prefil">
                        <img src="{%static 'images/5G1.png'%}" alt="" class="card-img">
                    </div>
                </div>
                <h3 class="card-name">البنية التحتية الرقمية</h3>
                <span class="card-prof"> تغطية شاملة</span>


                <div class="info-card">
                    <div class="info-icon"><span class="material-symbols-outlined">info</span></div>
                    <div class="info-border">
                        <div class="info-prefil">
                            <img src="{%static 'images/5G1.png'%}" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="info-data">
                        <h3 class="card-name">البنية التحتية الرقمية</h3>
                        <span class="card-prof">مراكز تحكم رقمية<br>تغطيات شاملة للإنترنت عالي السرعة</span>
                    </div>
                </div>
            </div>

            <div class="card-tech">
                <div class="card-border">
                    <div class="card-prefil">
                        <img src="{%static 'images/healthcare.png'%}" alt="" class="card-img">
                    </div>
                </div>
                <h3 class="card-name">الخدمات الصحية والطبية</h3>
                <span class="card-prof">لخدمة الحجاج</span>


                <div class="info-card">
                    <div class="info-icon"><span class="material-symbols-outlined">info</span></div>
                    <div class="info-border">
                        <div class="info-prefil">
                            <img src="{%static 'images/healthcare.png'%}" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="info-data">
                        <h3 class="card-name">الخدمات الصحية والطبية</h3>
                        <span class="card-prof">طائرات إسعاف جوي لنقل الحالات الحرجة.<br>مراكز طبية متنقلة<br>مستشفيات
                            ميدانية</span>
                    </div>
                </div>
            </div>


            <div class="card-tech">
                <div class="card-border">
                    <div class="card-prefil">
                        <img src="{%static 'images/sec-care.png'%}" alt="" class="card-img">
                    </div>
                </div>
                <h3 class="card-name">الأمن والسلامة</h3>
                <span class="card-prof">لخدمة الحجاج</span>


                <div class="info-card">
                    <div class="info-icon"><span class="material-symbols-outlined">info</span></div>
                    <div class="info-border">
                        <div class="info-prefil">
                            <img src="{%static 'images/sec-care.png'%}" alt="" class="card-img">
                        </div>
                    </div>
                    <div class="info-data">
                        <h3 class="card-name">الأمن والسلامة</h3>
                        <span class="card-prof">نقاط أمنية منتشرة في جميع المواقع <br>إدارة الحشود بطرق حديثة وخطط
                            طوارئ<br>الإطفاء والإنقاذ بإشراف الدفاع المدني.</span>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <section class="v-bg arabic-text">
        <h2 class="mx-5 my-5">الخدمات التطوعية</h2>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{%static 'images/health.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{%static 'images/h-img1.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{%static 'images/h-img2.jpg'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{%static 'images/h-img3.png'%}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{%static 'images/v2.webp'%}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>


</main>
{% endblock %}